html {
    min-height: 100%;
    /* overflow: hidden; */
}



body {
    margin-left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(25, 25, 25);
    color: white;
}


@media screen and (max-width:800px) {
    .side {
        width: 100%;
        margin: 0;
        padding-left: 20px;
        display: inline-block;
    }
    
    .leftside {
        width: 95%;
        
        float: left;
    
    }
    
    .rightside {
        
        width: 80%;
        float: left;
        padding-left: 0%;
    }

    #myImg {
        width: 100%;
        height: auto;
    }

    .banner {
        margin-top: 20px;
    
    }

    .child {
        
        width: 100%;
        height: 50%;
        color: white;
        
        margin-top: 0;
        margin-bottom: 1em;
        /* float: left;  */
        font-size: 3em;
        
    }

    .modal-content {
        width: 100%;
      }

}

@media screen and (min-width:801px) {
    .side {
        padding: 0em;
        height: 90vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
    }
    
    .leftside {
        right: 50%;
        margin-right: 2%;
        position: fixed;
        width: auto;
        
    
    }
    
    .rightside {
        margin-left: 50%;
        width: 35%;
    
    }
    #myImg {
        width: 100%;
        height: auto;
    }

    .banner {
        margin-top: 30px;
    
    }

    .child {
        width: 100%;
        height: 50%;
        color: white;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 4em;   
    }

    
    
}

.child a{
    font-family: "Courier New";
    font-weight: bold;
}

a:link {
    color: white;
}

a:visited{
    color: rgb(168, 168, 168);
}

a:hover {
    color: red;
}

.job {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

.job1 {
    position: absolute;
    margin-top: -5.5em;
    margin-left: 4.5em;
    text-shadow: 2px 2px 4px #000000;
    pointer-events: none;
}

.name {
    line-height:1.2;
    font-size: 5.5em;
    font-family: 'Red Hat Display', sans-serif;
}

.title {
    font-size: 1.5em;
}

.line-1 {
    position: relative;
    top: 50%;

    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    /* //transform: translateY(-50%); */
}

/* Animation */
.anim-typewriter {
    animation:
        typewriter 5s steps(12) 1s infinite normal both,
        blinkTextCursor 0.7s steps(154) infinite normal;
}

@keyframes typewriter {
    0% {
        width: 0;
    }

    20% {
        width: 10em;
    }

    80% {
        width: 10em;
    }

    100% {
        width: 0%;
    }


}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.var-highlight {
    color: #C0AD60;
}

.string-highlight {
    color: rgba(253, 149, 90, 0.8);
}

#typewriter {
    
    font-size: 1em;
    padding-left: 20px;
    
    /* font-family: "Courier New"; */
    
}

#typewriter:after {
    content: "|";
    animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.code {

    font-family: 'Chakra Petch', sans-serif;

}
pre {
    white-space: pre-line;
}

.block {
    width: 20em;
    height: 11em;
    margin: 1em;
    cursor: pointer;
    padding-top: 1em;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: 0.5s;
}

.block:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.9;
    background-color: darkred;
    
}


.project{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .project:before,
  .project:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .project:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .project:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

  .button {
    background-color: #2b2a2a;
    border: none;
    border-radius: 1em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #555555;
  }

  .button2 {
    background-color: #2b2a2a;
    border: none;
    border-radius: 1em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 5px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .button2:hover {
    background-color: #555555;
    box-shadow: 0 8px 24px 0 rgba(255, 1, 1, 0.486), 0 2px 20px 0 rgba(253, 0, 0, 0.644);
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 90%;
  }
  #myImg:hover {opacity: 0.7;}
  #myImg2:hover {opacity: 1;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1500px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; 
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }